$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.ace_editor { height: 200px; }

#result{
  width: 100%;
  min-height: 200px;
}
