<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" ng-click="run()">Run</button>
  </div>
</div><div class="row">
  <div class="col-md-4">
    <h2>Javascript</h2>
    <div ng-model="javascript" ui-ace="{
  useWrapMode : true,
  showGutter: true,
  theme:'chrome',
  mode: 'javascript'}"></div>
  </div>
  <div class="col-md-4">
    <h2>HTML</h2>
    <div ng-model="html" ui-ace="{
  useWrapMode : true,
  showGutter: true,
  theme:'chrome',
  mode: 'xml',
  onChange: aceChanged
  }"></div>
  </div>
  <div class="col-md-4">
    <h2>CSS</h2>
    <div ng-model="css" ui-ace="{
  useWrapMode : true,
  showGutter: true,
  theme:'chrome',
  mode: 'css'}"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <iframe id="result" frameborder="0"></iframe>
  </div>

</div>


